*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
	display: inline-block;
}
a:hover{
	text-decoration: none;
}
.clearfix:after{
	content: '';
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.navbar{
	height: 85px;
	display: block;
	border-bottom: 1px solid #eee;
}
.brand{
	width: 192.7px;
	height: 85px;
	background: url(../images/base_img/wzms.png) no-repeat;
	display: block;
}
.left{
	float: left;
}
.right{
	float: right;
}
.left_menu{
	line-height: 64px;
}
.left_menu li{
	float: left;
}
.left_menu li a{
	padding: 0px 12px;
	display: block;
	color: #444;
}
.left_menu li a:hover{
	color: #ed6c00;
}
.searchBar{
	/*display: block;*/
	position: relative;
	padding-top: 25px;
}
.searinput{
	width: 250px;
	height: 31px;
	position: absolute;
	line-height: 30px;
	margin-left: 50px;
}
.tosearch{
	background: #5cb85c;
	color: white;
	padding: 7px 28px;
	position: absolute;
	margin-left: 900px;
	border-radius: 5px;
	display: block;

}
.userAction{
	background: #EC414D;
	margin-right: 45px;
	padding: 5px 20px;
}
.nologin>a,.islogin>a{
	color: white;
	float: left;
}
.userAction .sg{
	padding: 0 10px;
}
.nologin{
	display: block;
}
.islogin{
	display: none;
}
.content{
	min-height: 450px;
	/*height: 768px;*/
}
.wrap{
	width: 80%;
	padding-top: 105px;
	/*background: red;*/
	min-height: 400px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.footer{
	/*margin: 0 auto;
	height: 100px;
	bottom: 0px;*/
	padding: 30px 240px;
	background: #f8f8f8;
	display: flex;
    	justify-content: center;
    	flex-wrap: wrap;
}
.footer p{
	font-size: 14px;
	color: #909090;
	padding: 5px;
	text-align: center;
	line-height: 30px;
}

.navbar,.navbar-header{
	height: 85px;
	padding: 0 10px 0 0;
}
.daohang li{
	/*width: 0px;*/
	height: 85px;
}
.navbar-nav li a{
	line-height: 55px;
	text-align: center;
}
.navbar-brand{
	padding: 0;
}
.navbar-form{
	margin-top: 24px;
}
@media only screen and (max-width: 1440px) {
	.navbar-right > li{
		float: none;
		background: #f8f8f8;
	}
	.navbar-right > li.min-hide{
                display:none;
        }
	.navbar-right:hover .min-hide{
		display:block;
		
	}
	.navbar-right > li.bigs{
		display: none;
	}
	.navbar-right > li.smalls{
		display: none;
	}
}
@media only screen and (min-width: 1441px) {
	.navbar-right > li{
                float: left;
        }
        .navbar-right > li.bigs{
                display: block;
        }
        .navbar-right > li.smalls{
                display: none;
        }


}
.tableList > table{
	width: max-content;
}
.avatar{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.user_avatar .dropdown-menu{
	min-width: 96px;
}
.newap{
	min-width: 98px;
	text-align: center;
}
.newap .dropdown-menu{
	min-width: 96px;
}
.newap .dropdown-menu a{
	text-align: center;
}

.toTop{
	width: 40px;
	height:40px;
	background: url(/static/common/images/top_bg.png);
	position: fixed;
	right: 30px;
	bottom:40px;
	display: none;
}
.toTop:hover{
	background-position: left-bottom;
	cursor: pointer;
}
.footer-container {
	/* 设置内部内容的最大宽度 */
	margin-top: 18px;
    	width: 100%;
    	/* max-width: 800px; */
    	display: flex;
    	justify-content: space-between; /* 设置项目之间的间距 */
}
.footer-item {
	flex: 1;
    	text-align: center;
}
.footer-label{
	padding: 10px 5px;
	font-size: 18px;
	font-weight: normal;
	color: #222;
}
/*
.footer-img{
	float: left;
	margin-left: 160px;
	margin-top: 45px;
}*/
.footer-img img{
	width: 120px;
	height: 120px;
}

.banquan{
	width: 100%;
	margin-top: 25px;
	clear: both;
	text-align: center;
}
.daohang a{
	display: block;
	margin-bottom: 30px;
}
.breadcrumb a{
	color: #337ab7;
}
.breadcrumb a.no_link{
	cursor: none;
	color: black;
}
.daohang img{
	width: 100%;
}
.toTop{
	width: 40px;
	height:40px;
	background: url(/static/common/images/top_bg.png);
	position: fixed;
	right: 30px;
	bottom:40px;
	display: none;
}
.toTop:hover{
	background-position: left-bottom;
	cursor: pointer;
}
.navbar-form .form-control{
	width: 240px;
}
.navbar-form .form-group{
	position: relative;

}
.navbar-form .glyphicon{
	position: absolute;
	left: 210px;
	top: 12px;
	color: #ccc;
}
.search-input{
	width: 200px;
}
.navbar{
	height: 85px;
}
.ativity-cate{
	padding: none;
	margin: none;
	background: red;

}
.ativity-cate a{
	
	height: 30px;
	line-height: 30px;
}
.ativity-cate a:hover{
	background: yellow;
}
#recipe-category{
	width: 360px;
	background: #f8f8f8;
	position: absolute;
	display: none;
}
#ativity-cate{
	width: 96px;
	background: #f8f8f8;
	position: absolute;
	display: none;
}
#recipe-category a,#ativity-cate a{
	display: inline-block;
	padding: 5px 20px;
}
#recipe-category a:hover,#ativity-cate a:hover{
	color: white;
	background: #ff6767;
}
.red{
	color: red;
}
.uc_left{
        width: 20%;
        min-height: 400px;
        /*background: red;*/
        background: #f8f8f8;
        float: left;
        border-right: 1px solid #e7e7e7;
        /*text-align: center;*/
}
.uc_right{
        width: 80%;
        /*margin-left: 10px;*/
        padding: 10px;
        float: left;
        /*border-left: 1px solid #e7e7e7;*/
}
