<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		table,td{
			border:1px solid #ddd;
			border-collapse: collapse;
		}
		td{
			padding: 5px 10px;
			text-align: center;
		}
		.limit_width{
			width: 180px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		td>a{
			cursor: pointer;
		}
		.adAction a,.atodetail{
			color: blue;
			padding: 0 5px;
		}
		.atodetail:hover{
			cursor: pointer;
		}
	</style>
</head>
<body>
<div class="picList">
	<ol class="breadcrumb">
		<li><a href="/user/admin/" class="active">首页</a></li>
		<li>商家管理</li>
		<li>商家列表</li>
	</ol>
	
	<div class="listArea">
		<table class="table table-hover">
			<tr class="tb_head">
				<td>编号</td>
				<td>店铺名称</td>
				<td><div class="limit_width" style="white-space:normal;" >店铺概要</div></td>
				<!-- <td>店铺简介</td> -->
				<td>店铺图片</td>
				<td>优惠信息</td>
				<td>商家电话</td>
				<td>营业时间</td>
				<td>店铺地址</td>
				<td>坐标经度</td>
				<td>坐标纬度</td>
				<td>操作</td>
			</tr>
			{% for store in stores %}
			<tr>
				<td>{{ store.id }}</td>
				<td>{{ store.name }}</td>
				<td>
					<div class="limit_width" style="white-space:normal;" >{{ store.tabstract }}</div>
				</td>
				<!-- <td>{{ store.instrodution }}</td> -->
				<td><img src="{{ store.img.url }}" width="100px;" height="80px;"></td>
				
				<td>{{ store.discount }}</td>
				
				<td>{{ store.phone }}</td>
				<td>{{ store.ontime }}</td>
				<td>{{ store.address }}</td>
				<td>{{ store.longitude }}</td>
				<td>{{ store.latitude }}</td>
				<td class="adAction">
					<a onclick="updateStore('/store/updateStore/?id={{ store.id }}')">编辑</a>
					<a onclick="delStore('/store/delStore/?id={{ store.id }}')">删除</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="paging">
			<!-- 上一页开始 -->
			<!--  如果当前页有上一页 -->
			<span style="font-size: 15px;padding: 5px;">共&nbsp;{{ countStore }}&nbsp;条记录</span>
			{% if stores.has_previous %}
				<a class="btnactive" onclick="toPaging('/store/adStoreList/?page={{ stores.previous_page_number }}')">上一页</a>
			{% else %}
			<!-- 当前页的不存在上一页时,上一页的按钮不可用 -->
				<a class="notactive">上一页</a></li>
			{% endif %}
		
			<!-- 页码开始 -->
			{% for num in paginator.page_range %}
				{% if num == currentPage %}
					<a onclick="toPaging('/store/adStoreList/?page={{ num }}')">{{ num }}</a>
				{% else %}
					<a onclick="toPaging('/store/adStoreList/?page={{ num }}')" class="active">{{ num }}</a>
				{% endif %}
			{% endfor %}
			<!-- 下一页 -->
			{% if stores.has_next %}
				<a class="btnactive" onclick="toPaging('/store/adStoreList/?page={{ stores.next_page_number }}')">下一页</a>
			{% else %}
				<a class="notactive">下一页</a></li>
			{% endif %}
		</div>
	</div>
</div>
<script>
function toPaging(url){
	$.ajax({
		type :"GET",
		url : url,
		async: false,
		global:false,
		dataType:"html",
		success: function(data) {
			$(".picList").empty();
			$(".picList").html(data);
		},
		error:function(){
			$(".picList").html("获取数据失败！");
		}
	});
}
function delStore(url){
	var delconfirm = confirm("删除后数据不可恢复！是否确认删除？");
	if(delconfirm){		
		$.ajax({
			type :"GET",
			url : url,
			async: false,
			global:false,
			dataType:"html",
			success: function(data) {
				$(".picList").empty();
				$(".picList").html(data);
			},
			error:function(){
				console.log("获取数据失败！");
			}
		});
	}
}
function updateStore(url){
	
	$.ajax({
		type :"GET",
		url : url,
		async: false,
		global:false,
		dataType:"html",
		success: function(data) {
			$(".picList").empty();
			$(".picList").html(data);
		},
		error:function(){
			console.log("获取数据失败！");
		}
	});
}
</script>
</body>
</html>