{% extends 'login/base.html' %}

{% block css %}
<title>注册确认</title>
<style type="text/css">
	.msg-h{
		margin-left: 100px;
		margin-top: 50px;
		color: red;
	}
	.msg-s{
		margin-left: 100px;
		margin-top: 50px;
	}
</style>
{% endblock %}

{% block content %}
<h3 class="msg-h">{{ message }}</h3>
<!-- <br> -->
<p class="msg-s">3&nbsp;秒后自动跳到登录页面...</p>
{% endblock %}

{% block js %}
<script>
    window.setTimeout("window.location='/login/'",3000);
</script>
{% endblock %}