<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "common/admin_common.css" %}">
	<style type="text/css">
		table,td{
			border:1px solid #ddd;
			border-collapse: collapse;
		}
		td{
			padding: 5px 10px;
			text-align: center;
		}
		.limit_width{
			width: 240px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		td>a{
			cursor: pointer;
		}
		.adAction a{
			color: blue;
			padding: 0 5px;
		}
	</style>
</head>
<body>
<div class="picList">
	<ol class="breadcrumb">
		<li><a href="/user/admin/" class="active">首页</a></li>
		<li>轮播图管理</li>
		<li>轮播列表</li>
	</ol>
	
	<div class="listArea">
		<table class="table table-hover">
			<tr class="tb_head">
				<td>编号</td>
				<td><div class="limit_width">标题</div></td>
				<td>描述</td>
				<td>图片</td>
				<td><div class="limit_width" style="width: 210px;">跳转地址</div></td>
				<td>显示顺序</td>
				<td>操作</td>
			</tr>
			{% for ban in banner %}
			<tr>
				<td>{{ ban.id }}</td>
				<td><div class="limit_width" title="{{ ban.title }}">{{ ban.title }}</div></td>
				<td><div class="limit_width" style="white-space:normal;" >{{ ban.description }}</div></td>
				
				<td><img src="{{ ban.img.url }}" width="100px;" height="80px;"></td>
				<td><div class="limit_width" title="{{ ban.url }}" style="width: 210px;">
					<a href="{{ ban.url }}">{{ ban.url }}</a></div>
				</td>
				<td>{{ ban.imgIndex }}</td>
				<td class="adAction">
					<a onclick="editBanner('/banner/editBanner/?id={{ ban.id }}')">编辑</a>
					<a onclick="delBanner('/banner/delBanner/?id={{ ban.id }}')">删除</a>
				</td>
			</tr>
			{% endfor %}
		</table>
		<div class="paging">
			<!-- 上一页开始 -->
			<!--  如果当前页有上一页 -->
			<span style="font-size: 15px;padding: 5px;">共&nbsp;{{ countAtc }}&nbsp;条记录</span>

			{% if banner.has_previous %}
				<a class="btnactive" onclick="toPaging('/banner/listCarousel/?page={{ banner.previous_page_number }}')">上一页</a>
			{% else %}
			<!-- 当前页的不存在上一页时,上一页的按钮不可用 -->
				<a class="notactive">上一页</a></li>
			{% endif %}
		
			<!-- 页码开始 -->
			{% for num in paginator.page_range %}
				{% if num == currentPage %}
					<a onclick="toPaging('/banner/listCarousel/?page={{ num }}')">{{ num }}</a>
				{% else %}
					<a onclick="toPaging('/banner/listCarousel/?page={{ num }}')" class="active">{{ num }}</a>
				{% endif %}
			{% endfor %}
			<!-- 下一页 -->
			{% if banner.has_next %}
				<a class="btnactive" onclick="toPaging('/banner/listCarousel/?page={{ banner.next_page_number }}')">下一页</a>
			{% else %}
				<a class="notactive">下一页</a></li>
			{% endif %}
		</div>
	</div>
</div>
 <script>
	function editBanner(url){
		
		$.ajax({
			type :"GET",
			url : url,
			async: false,
			global:false,
			dataType:"html",
			success: function(data) {
				$(".picList").empty();
				$(".picList").html(data);
			},
			error:function(){
				console.log("获取数据失败！");
			}
		});
	}
	function delBanner(url){
		var delconfirm = confirm("删除后数据不可恢复！是否确认删除？");
		if(delconfirm){		
			$.ajax({
				type :"GET",
				url : url,
				async: false,
				global:false,
				dataType:"html",
				success: function(data) {
					$(".picList").empty();
					$(".picList").html(data);
				},
				error:function(){
					console.log("获取数据失败！");
				}
			});
		}
	}
 </script>
</body>
</html>