body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body{
	background: #f9f7f6;
	color: #000;
	font-weight: 500;
	font-size: 1.05em;
}
a{color: green;text-decoration: none;outline: none;}
a:hover,a:focus{color:#74777b;}

.bluestep-container{
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.bluestep-content {
	font-size: 150%;
	padding: 1em 0;
}

.bluestep-content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.bluestep-content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}

.bluestep-header{
	padding: 1em 190px 1em;
	letter-spacing: -1px;
	text-align: center;
}
.bluestep-header h1 {
	font-weight: 600;
	font-size: 2em;
	line-height: 1;
	margin-bottom: 0;
}
.bluestep-header h1 span {
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: 0.8em 0 0.5em 0;
	color: #c3c8cd;
}
/*nav*/
.bluestep-list a{color: #1d7db1;text-decoration: none;font-family:"Microsoft YaHei";font-weight: 300;}
.bluestep-list{width: 100%;padding-bottom: 1.2em;}
.bluestep-list a{display: inline-block;margin: 0.5em;padding: 0.6em 1em;border: 3px solid #1d7db1;font-weight: 300;}
.bluestep-list a:hover{opacity: 0.6;}
.bluestep-list a.current{background:#1d7db1;color: #fff; }
/* Top Navigation Style */
.bluestep-links {
	position: relative;
	display: inline-block;
	white-space: nowrap;
	font-size: 1.5em;
	text-align: center;
}

.bluestep-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #dbdbdb;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

@media screen and (max-width: 50em) {
	.bluestep-header {
		padding: 3em 10% 4em;
	}
	.bluestep-header h1 {
        font-size:2em;
    }
    .related{
    	top: 200%;
    }
}


@media screen and (max-width: 40em) {
	.bluestep-header h1 {
		font-size: 1.5em;
	}
	.related{
    	top: 200%;
    }
}

@media screen and (max-width: 30em) {
    .bluestep-header h1 {
        font-size:1.2em;
    }
    .related{
    	top: 200%;
    }
}