{% extends 'login/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "recipe/css/vlog_detail.css" %}">
{% endblock %}

{% block content %}
{% include 'login/head_img.html' %}
<ol class="breadcrumb">
	<li><a href="/">首页</a></li>
	<li><a>美食VLOG</a></li>
	<li class="active">{{ vlog.title }}</li>
</ol>

<div class="video-detail">
	<video src="{{ vlog.video.url }}" controls="controls"></video>
	<div class="video-info">
		<div><label>{{ vlog.title }}</label></div>
		<div class="desc">{{ vlog.desc }}</div>
		<div class="fbtime">发布于&nbsp;{{ vlog.create_time }}</div>
		<div class="fbtime">{{ vlog.view_count }}&nbsp;次观看</div>

		<div class="likes_handle">
			<ul class="nav nav-pills">
				<li>
					<a class="shoucang">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true">&nbsp;收藏</span>
					</a>
					<input type="hidden" name="" class="iscollect" value="{{ iscollect }}">
					<input type="hidden" class="hidurl" name="" value="/likes/upcollect/?type=videos&vlogId={{ vlog.id }}">
				</li>
				<li>
					<a class="dianzan">
						<span class="glyphicon glyphicon-heart-empty" aria-hidden="true">&nbsp;
						{% if vlogLikeNum == 0 %}<span class="n">点赞</span>{% else %}<span class="n">{{ vlogLikeNum }}</span> {% endif %}</span>
					</a>
					<input type="hidden" name="" class="islike" value="{{ islike }}">
					<input type="hidden" class="hidurl" name="" value="/likes/uplike/?type=videos&vlogId={{ vlog.id }}">
				</li>
			</ul>
		</div>

	<hr>
	</div>

</div>
<div class="tuijian">
	<label>推荐观看</label>
	{% for tjvlog in tjVlogs %}
		<div class="tjItem clearfix">
			<div class="img-cover"><img src="{{ tjvlog.cover.url }}"></div>
			<div class="tjinfo">
				<a href="/recipe/vlogDetail/?id={{ tjvlog.id }}">{{ tjvlog.title }}</a>
				<div class="tjtime">{{ tjvlog.view_count }}&nbsp;次观看</div>
			</div>
		</div>
	{% endfor %}
</div>
<div class="clearfix"></div>

<!-- 评论 -->
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<div class="comment-area">
			<h3 class="comment-area-title">提交评论</h3>
			{% if request.session.user_name %}
				
				<form action="/comments/update_comment/" method="post" id="comment-form">
					{% csrf_token %}
					<div class="form-group">
						<label for="comment_text">{{ user }}，欢迎评论~</label>
						<div id="reply_content_container" style="display: none;">
							<p>回复：</p>
							<div id="reply_content"></div>
						</div>
						<br>
						<textarea id="comment_text" name="comment_text" class="form-control" rows="4"></textarea>
					</div>
					<input type="hidden" name="object_id" value="{{ vlog.id }}">
					<input type="hidden" name="content_type" value="videos">
					<input type="hidden" name="reply_comment_id" value="0" id="reply_comment_id">
					<span id="comment-error" class="text-danger pull-left"></span>

					<input type="submit" name="" value="评论" class="btn btn-primary pull-right">
				</form>
			{% else %}
				<!-- {{ message }} -->
				未登录，登录后方可评论！
				<form action="/login/" method="post">
					{% csrf_token %}
					<label>用户名：</label>
					<input type="text" name="username">
					<label>密码：</label>
					<input type="password" name="password">
					<input type="submit" name="" value="登录">
				</form>
			{% endif %}
			
		</div>
		<div class="clearfix"></div>
		<div class="comment-area">
			<h3 class="comment-area-title">评论列表</h3>
			<div id="commtent-list">
			{% for comment in comments %}
				<div id="root_{{ comment.id }}" class="comments clearfix">
					<div class="avatar"><img src="/media/{{ comment.user.avatar }}"></div>
					<div class="comment-detail">
						<span class="comment-user-name">{{ comment.user.username }}</span>
						<span class="comment-time">({{ comment.comment_time|date:'Y-m-d H:i:s' }}):</span>
						<div id="comment_{{ comment.id }}" class="comment-text">
							{{ comment.text }}
						</div>
					</div>
					<a href="javascript:reply({{ comment.id }});" class="pull-right parent-reply-link">回复</a>

					<div class="clearfix"></div>
					{% for reply in comment.root_comment.all %}
					<div class="replies">
						<div class="reply-avatar"><img src="/media/{{ reply.user.avatar }}"></div>
						<div class="reply-detail">
							<span class="comment-user-name">{{ reply.user.username }}</span>
							<span class="comment-time">({{ reply.comment_time|date:'Y-m-d H:i:s' }}):</span>
							<span>&nbsp;回复&nbsp;<label>{{ reply.reply_to.username}}</label></span>
							<div id="comment_{{ reply.id }}">
								{{ reply.text }}
							</div>
						</div>
						<a href="javascript:reply({{ reply.id }});" class="child-reply-link">回复</a>
					</div>
					{% endfor %}

				</div>
			{% empty %}
				暂无评论
			{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
	function loadData(){
		var islike = $('.islike').val();
		var like = $('.dianzan span.glyphicon');
		// alert(iscollect);
		if(islike=='1'){
			like.removeClass('glyphicon-heart-empty');
			like.addClass('glyphicon-heart');
			like.css('color','#ff6767');
		}
		else{
			like.css('color','#808080');
		}

		var iscollect = $('.iscollect').val();
		var collect = $('.shoucang span.glyphicon');
		// alert(iscollect);
		if(iscollect=='1'){
			collect.removeClass('glyphicon-star-empty');
			collect.addClass('glyphicon-star');
			collect.css('color','#ff6767');
		}
		else{
			collect.css('color','#808080');
		}

	}
	function reply(reply_comment_id){
		// 设置值
		$('#reply_comment_id').val(reply_comment_id);
		var htm = $('#comment_' + reply_comment_id);
		$('#reply_content').html(htm);
		$('#reply_content_container').show();

		$('html').animate({scrollTop: $('#comment-form').offset().top - 60}, 300, function(){
			$('#comment_text').focus();
		});
	}
	$(function() {
		loadData();
	    $('.dianzan').on('click',function(){
			var url = $(this).parent().children('.hidurl').val();
			var like = $(this).children('span.glyphicon');
			var thisa = $(this);
			var nspan = $(this).children('span.glyphicon').children('.n');
			
			if(nspan.text()=="点赞"){
				var n = 0;
			}else{
				var n = nspan.text();
			}
			
			$.ajax({
				type :"GET",
				url : url,
				async: false,
				global:false,
				dataType:"json",
				success: function(data) {
					if(like.hasClass('glyphicon-heart')){
						// 点击前是已喜欢状态
						like.removeClass('glyphicon-heart');
						like.addClass('glyphicon-heart-empty');
						like.css('color','#808080');
						nspan.text(parseInt(n)-1);
					}
					else{
						// 点击前是未点赞状态
						like.removeClass('glyphicon-heart-empty');
						like.addClass('glyphicon-heart');
						like.css('color','#ff6767');
						nspan.text(parseInt(n)+1);
					}
					
				},
				
			});
		});
		$('.shoucang').on('click',function(){
			var url = $(this).parent().children('.hidurl').val();

			var collect = $(this).children('span.glyphicon');
			// alert(url);
			$.ajax({
				type :"GET",
				url : url,
				async: false,
				global:false,
				dataType:"json",
				success: function(data) {

					if(collect.hasClass('glyphicon-star')){
						// 点击前是已收藏状态
						collect.removeClass('glyphicon-star');
						collect.addClass('glyphicon-star-empty');
						collect.css('color','#808080');
					}
					else{
						// 点击前是未收藏状态
						collect.removeClass('glyphicon-star-empty');
						collect.addClass('glyphicon-star');
						collect.css('color','#ff6767');
					}
					
				},
				error:function(){
					$("#content").html("获取数据失败！");
				}
			});
		});

		$('#comment-form').submit(function(){
			$.ajax({
				url: '/comments/update_comment/',
				type: 'post',
				data: $(this).serialize(),
				success: function(data){
					if(data['status']=='SUCCESS'){
						console.log(data);

						if($('#reply_comment_id').val()=='0'){
							// 新增评论
							var comment_htm = '<div id="root_'+ data['id'] +'" class="comments clearfix"><div class="avatar"><img src="'+ data['avatar_url'] +'"></div><div class="comment-detail"><span class="comment-user-name">'+ data['username'] +'</span><span class="comment-time">('+ data['comment_time'] +'):</span><div id="comment_'+ data['id'] +'" class="comment-text">'+ data['text'] +'</div></div><a href="javascript:reply('+ data['id'] +');" class="pull-right parent-reply-link">回复</a>';
							$('#commtent-list').prepend(comment_htm);
						}
						else{
							// 回复
							var reply_htm = '<div class="replies"><div class="reply-avatar"><img src="'+ data['avatar_url'] +'"></div><div class="reply-detail">'+ data['username'] +'('+ data['comment_time'] +'):&nbsp;回复&nbsp;<label>'+ data['reply_to'] +'</label><div id="comment_'+ data['id'] +'">'+ data['text'] +'</div></div><a href="javascript:reply('+ data['id'] +');" class="child-reply-link">回复</a></div>';
							$('#root_'+ data['root_id'] ).append(reply_htm);

						}
						// 清空数据
						$('#comment_text').val('');
						$('#reply_comment_id').val('0');
						$('#reply_content_container').hide();
					}
					else{
						console.log(data);
						$('#comment-error').text(data['message']);
					}
					

				},

			});
			return false;
		})
	});
</script>
{% endblock %}